---
const projects = [
    {
        title: "Progetto 1",
        description: "Descrizione del progetto 1",
        image: "https://via.placeholder.com/150",
        altimage: "Immagine del progetto 1",
        link: "https://www.google.com"
    },
    {
        title: "Progetto 2",
        description: "Descrizione del progetto 2",
        image: "https://via.placeholder.com/150",
        altimage: "Immagine del progetto 2",
        link: "https://www.google.com"
    },
    {
        title: "Progetto 3",
        description: "Descrizione del progetto 3",
        image: "https://via.placeholder.com/150",
        altimage: "Immagine del progetto 3",
        link: "https://www.google.com"
    }
]
import Card from "./Card.astro"
---

<section id="progetti" class="flex flex-col text-center justify-center items-center md:text-right gap-4 w-full min-h-screen max-w-7xl mx-auto px-8 md:px-24">
    <h2 class="text-center md:text-right w-full">I miei Progetti</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mx-auto gap-12">
    {projects.map((project, index) => (
        <Card key={project.title} {...project}/>
    ))}
    </div>
</section>

