---
import { projects } from "./projectArray.js"
import Card from "./Card.astro"
---

<section id="progetti" aria-labelledby="titolo-progetti" class="flex flex-col justify-center items-center md:items-end w-full min-h-screen max-w-7xl mx-auto px-8 md:px-24 py-20">
    
    <h2 id="titolo-progetti" class="font-title text-center md:text-right w-full text-4xl md:text-6xl mb-16 md:mb-24 text-primary">
      Progetti
    </h2>

    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 md:gap-12 w-full place-items-center md:place-items-stretch">
        {projects.map((project) => (
            <Card {...project}/>
        ))}
    </ul>

</section>

