<section id="timeline" aria-labelledby="titolo-timeline" class="flex flex-col justify-center items-center md:items-end w-full min-h-screen max-w-7xl mx-auto px-8 md:px-24 py-20">


    <h2 id="titolo-timeline" class="font-title text-center md:text-right w-full text-4xl md:text-6xl mb-16 md:mb-24 text-primary">
      Certificazioni
    </h2>

        <ul class="border-l-1 border-primary/20 pl-4">
        <li class="mb-8 relative pl-6">
  {/* Questo pallino è diverso: ha solo il bordo, indica "in corso" */}
  <div class="w-4 h-4 rounded-full border-2 border-accent bg-master absolute left-[-25px] top-1"></div>

  <time class="text-xs text-primary/70 uppercase tracking-widest font-semibold">Attualmente in corso</time>
<h3 class="text-lg font-bold text-primary mt-1">Apprendimento Costante</h3>
<p class="text-sm opacity-80">Approfondimento continuo su tecnologie web moderne e best practices di sviluppo.</p>

</li>

        <li class="mb-8 relative pl-6">
<div class="w-4 h-4 rounded-full bg-accent absolute left-[-25px] top-1"></div>
<time datetime="10-02-2026" class="text-xs text-primary/70">Febbraio 2026</time>
<h3 class="text-lg font-bold text-primary mt-1">WAI0.1x: W3Cx Introduction to Web Accessibility</h3>
<p class="text-sm opacity-80">edX</p>
    </li>

<li class="mb-8 relative pl-6">
<div class="w-4 h-4 rounded-full bg-accent absolute left-[-25px] top-1"></div>
<time datetime="22-08-2025" class="text-xs text-primary/70">Agosto 2025</time>
<h3 class="text-lg font-bold text-primary mt-1">Meta Front-End Developer Specialization</h3>
<p class="text-sm opacity-80">Coursera</p>
</li>

<li class="mb-8 relative pl-6">
<div class="w-4 h-4 rounded-full bg-accent absolute left-[-25px] top-1"></div>
<time datetime="18-01-2025" class="text-xs text-primary/70">Gennaio 2025</time>
<h3 class="text-lg font-bold text-primary mt-1">JavaScript Algorithms and Data Structures</h3>
<p class="text-sm opacity-80">freeCodeCamp</p>
</li>

<li class="mb-8 relative pl-6">
<div class="w-4 h-4 rounded-full bg-accent absolute left-[-25px] top-1"></div>
<time datetime="10-10-2024" class="text-xs text-primary/70">Ottobre 2024</time>
<h3 class="text-lg font-bold text-primary mt-1">Responsive Web Design</h3>
<p class="text-sm opacity-80">freeCodeCamp</p>
</li>

</ul>
</section>